In [81]:
import pandas as pd

In [82]:
inchcape = pd.read_excel("Pedidos FR Semana 48.xlsx",sheet_name= 'Pedidos FR Noviembre',dtype={'Ce.':'str', 'Material':'str'})

In [84]:
columns = [
    "Ce.", "ClVt", "Fecha doc-","Pedido","Material", "NPF", "Denominación", "Ctd.ped..1"
]
inchcape = inchcape[columns]

In [4]:
maestro = pd.read_excel("Pedidos FR Semana 49.xlsx",sheet_name= 'Maestro 2.0', header=1, dtype={'Último Eslabón y Material SAP':'str'})

In [5]:
maestro = maestro[['Último Eslabón y Material SAP','Familia','Segmentación ','Modelo']]

In [9]:
maestro.drop_duplicates(subset='Último Eslabón y Material SAP', inplace=True)

In [85]:
inchcape = inchcape.merge(maestro, left_on='Material', right_on='Último Eslabón y Material SAP', how='left')

In [86]:
inchcape.columns

Index(['Ce.', 'ClVt', 'Fecha doc-', 'Pedido', 'Material', 'NPF',
       'Denominación', 'Ctd.ped..1', 'Último Eslabón y Material SAP',
       'Familia', 'Segmentación ', 'Modelo'],
      dtype='object')

In [87]:
inchcape.drop(columns={'Último Eslabón y Material SAP'}, inplace=True)

In [88]:
#Marca
mappings = {
    '1335': "Subaru",
    '1305': "DFSK",
    '1344': "Geely"
}

# Apply the mapping to create the 'Marca' column
inchcape['Marca'] = inchcape['Ce.'].map(mappings).fillna(0)

In [89]:
inchcape['Líneas OK'] = inchcape['ClVt'].apply(lambda x: 1 if x == "Z300" else 0)
inchcape['Líneas VOR'] = inchcape['ClVt'].apply(lambda x: 1 if x == "ZVOR" else 0)

In [90]:
inchcape['Líneas Totales'] = inchcape['Líneas VOR']+inchcape['Líneas OK']

In [91]:
inchcape['Qty OK'] = inchcape['Líneas OK'] * inchcape['Ctd.ped..1']

In [92]:
inchcape['Qty VOR'] = inchcape['Líneas VOR'] * inchcape['Ctd.ped..1']

marca
vor
li ok
li vor
li totales
qty
qty
qty
segmentacion (maestro)
modelo (maestro)
familia (maestro)

In [93]:
inchcape['Qty VOR'] = inchcape['Líneas VOR'] * inchcape['Ctd.ped..1']

In [94]:
inchcape.groupby('Marca').agg({'Líneas OK':'sum',
                               'Líneas VOR':'sum',
                               'Líneas Totales':'sum'})

        Líneas OK  Líneas VOR  Líneas Totales
Marca
0               0           0               0
DFSK          162          12             174
Geely          81           8              89
Subaru       1247         105            1352

In [ ]:
nnss =pd.read_csv('consolidado_legacies.csv')

In [95]:
meses = {
    "ene": 1,
    "feb": 2,
    "mar": 3,
    "abr": 4,
    "may": 5,
    "jun": 6,
    "jul": 7,
    "ago": 8,
    "sep": 9,
    "oct": 10,
    "nov": 11,
    "dic": 12
}

# Cambiar valores de la columna 'Mes' usando el diccionario
inchcape['Mes'] = inchcape['Fecha doc-'].dt.month
inchcape['Semana'] =   inchcape['Fecha doc-'].dt.isocalendar().week

In [96]:
inchcape.columns

Index(['Ce.', 'ClVt', 'Fecha doc-', 'Pedido', 'Material', 'NPF',
       'Denominación', 'Ctd.ped..1', 'Familia', 'Segmentación ', 'Modelo',
       'Marca', 'Líneas OK', 'Líneas VOR', 'Líneas Totales', 'Qty OK',
       'Qty VOR', 'Mes', 'Semana'],
      dtype='object')

In [97]:
# nnss['Centro'] = ''
# nnss['NPF'] = ""
# nnss['VOR'] = ""
# nnss['Considerar'] = ""

inchcape.rename(columns= {'Ce.':'Centro','ClVt':'Clase doc.ventas','Pedido':'Documento de ventas','Denominación':'Descripción del material','Ctd.ped..1':'Cantidad de pedido (Posición)','Marca':'Nombre sector','Líneas OK':'Línea OK', 'Líneas VOR':'Línea VOR', 'Líneas Totales':'Línea Totales','Qty OK':'Qty Venta' ,'Qty Totales':'Qty Total','Fecha doc-':'Fecha documento', 'Inventario':'Planificables'}, inplace=True)

In [ ]:
inchcape_consolidado = nnss[nnss['Nombre sector'].isin(['Subaru','DFSK', 'Geely'])]

In [98]:
inchcape_consolidado = pd.read_csv('consolidado_final.csv')

In [99]:
inchcape.Semana.value_counts()

Semana
48    3579
Name: count, dtype: Int64

In [100]:
inchcape_consolidado['Semana'].value_counts()

Semana
49.0    3000
47.0    2224
46.0    2175
Name: count, dtype: int64

In [69]:
inchcape_consolidado = inchcape_consolidado[inchcape_consolidado['Semana'] != 49.0]

In [72]:
inchcape_consolidado_final['Semana'].value_counts()

Semana
49.0    3000
47.0    2224
46.0    2175
Name: count, dtype: Int64

In [101]:
inchcape_consolidado_final = pd.concat([inchcape, inchcape_consolidado])

In [102]:
inchcape_consolidado_final.to_csv('consolidado_final.csv')

In [103]:
derco_consolidado = pd.read_csv("consolidado sem 50.csv")

C:\Users\lravlic\AppData\Local\Temp\ipykernel_30876\1126841125.py:1: DtypeWarning: Columns (7,16,21,23,26,29,32,33,44) have mixed types. Specify dtype option on import or set low_memory=False.
  derco_consolidado = pd.read_csv("consolidado sem 50.csv")

In [75]:
derco_consolidado.columns

Index(['Unnamed: 0', 'Referencia de cliente', 'Fecha documento',
       'Clase doc.ventas', 'Documento de ventas', 'Posición', 'AUX',
       'Solicitante', 'Nombre Solicitante', 'Cantidad de pedido (Posición)',
       'Un.medida venta', 'Valor neto (posición)', 'Material',
       'Descripción del material', 'Material R3', 'UE R3',
       'Nombre Sector Anterior2', 'Nombre sector', 'Origen', 'Modelo',
       'Familia', 'Parque', 'Apretura Parque', 'Plan Mantención',
       'Clase R (actual)', 'Segmentación', 'Segmentación N-5', 'Estratégicos',
       'Planificables', 'Planificable N-5', 'Equipo', 'Flag IPL', 'Incidencia',
       'Causa Raíz', 'Línea OK', 'Línea VOR', 'Línea Totales', 'Qty Venta',
       'Qty VOR', 'Qty Total', 'Semana', 'Día', 'Mes', 'Año',
       'Moneda del documento'],
      dtype='object')

In [104]:
inchcape_consolidado_final.Semana.value_counts()

Semana
48.0    3579
49.0    3000
47.0    2224
46.0    2175
Name: count, dtype: Int64

In [105]:
consolidado_final = pd.concat([derco_consolidado, inchcape_consolidado])

In [106]:
consolidado_final = consolidado_final.loc[:, ~consolidado_final.columns.str.contains('^Unnamed')]

In [ ]:
consolidado_final.head()

,Referencia de cliente,Fecha documento,Clase doc.ventas,Documento de ventas,Posición,AUX,Solicitante,Nombre Solicitante,Cantidad de pedido (Posición),Un.medida venta,...,Día,Mes,Año,Moneda del documento,Centro,NPF,Segmentación,Inventario,VOR,Considerar
0,VALPO RPTO SM,2024-12-05,ZRDP,6370530,10.0,637053010.0,286808,DISTRIBUIDORA DE VEHICULOS SUZUVAL,1,UN,...,5.0,12.0,2024.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,VALPO RPTO SM,2024-12-05,ZRDP,6370530,20.0,637053020.0,286808,DISTRIBUIDORA DE VEHICULOS SUZUVAL,1,UN,...,5.0,12.0,2024.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,VALPO RPTO SM,2024-12-05,ZRDP,6370530,30.0,637053030.0,286808,DISTRIBUIDORA DE VEHICULOS SUZUVAL,1,UN,...,5.0,12.0,2024.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,bobinas oroc,2024-12-02,ZRDP,6390408,10.0,639040810.0,186,GUSTAVO SAAVEDRA Y CIA. LTDA.,2,UN,...,2.0,12.0,2024.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,SSTT SWIFT RODAMIE,2024-12-02,ZRDP,6390409,10.0,639040910.0,523079,COMERCIAL ERRAZURIZ SPA,2,UN,...,2.0,12.0,2024.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [108]:
consolidado_final.to_csv('consolidado_legacies_2.csv')

In [ ]:
consolidado_final.to_excel('consolidado_legacies_2.xlsx')

In [ ]:
consolidado_final.columns

In [ ]:
consolidado = pd.concat([nnss,inchcape])

In [ ]:
nnss['Centro'] = ''

In [ ]:
consolidado = consolidado.dropna(subset=['Semana'])
consolidado['Semana'] = consolidado['Semana'].astype(int)

In [ ]:
consolidado.to_csv('consolidado_legacies.csv')

In [ ]:
final = pd.read_csv('consolidado_legacies.csv')

In [ ]:
final.columns